body {
	margin: 0;
	color: black;
	background: white;
	font-family: "Inter", sans-serif !important;
}

/* ##### TOP BAR ##### */
.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 20px;
	gap: 20px;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

.color-picker {
	height: 5vh;
	border: 0.5px solid #313131;
	background-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

.color-picker::-webkit-color-swatch {
	border: 2px solid;
	border-radius: 10px;
	border-color: var(--border-color, black);
}

.color-picker::-moz-color-swatch {
	border: 2px solid;
	border-color: var(--border-color, black);
	border-radius: 10px;
}

#mode-selector,
.color-picker,
.btn-toggle,
.hex,
button:hover {
	cursor: pointer;
}

#mode-selector {
	font-family: "Inter", sans-serif !important;
	padding: 9px 13px;
	border: 1px solid #d1d5db;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

button {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	font-family: "Inter", sans-serif !important;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.flex-grow {
	flex-grow: 1;
}

.flex-grow-double {
	flex-grow: 2;
}

.flex-grow-half {
	flex-grow: 0.1;
}

/* ##### END TOP BAR ##### */

/* ##### COLOURS ##### */

#colors {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.color {
	height: 85vh;
	width: auto;
}

#hex-code {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 5vh;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

.hex {
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 24px;
}

/* ##### END COLOURS ##### */

/* ##### DARK THEME ##### */

body.dark-theme {
	color: #f3f4f6;
	--tw-bg-opacity: 1;
	--border-color: white;
	background-color: #1f2937; /*rgba(17, 24, 39, var(--tw-bg-opacity));*/
}

body.dark-theme #mode-selector {
	background: #1f2937; /*#1f293a;*/
	color: white;
}

body.dark-theme button {
	background: #3d4b60;
	color: white;
}

body {
	transition-duration: 300ms;
}

#theme {
	height: 12px;
}
/* ##### END DARK THEME ##### */
